


<ion-list >

    <ion-item-sliding #slidingItem *ngFor="let lista of deseos.listas | filtroCompletado:terminada">

        <button ion-item  (click)="listaSeleccionada(lista)">
            {{ lista.titulo }}
            <ion-note item-end>
                {{ lista.items.length}} items
            </ion-note>
        </button>

        <ion-item-options side="right">
            <button (click)="eliminarItem(lista)"
                    icon-only
                    ion-button color="danger">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item-options>

        <ion-item-options side="left">
            <button (click)="editar(lista, slidingItem)"
                    icon-only
                    ion-button color="secondary">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
